<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta author="chief-gucci-sosa">
</head>
<body>

  <!-- navigation  -->
  <nav class="nav bg-dark fixed-top align-items-center" id="mainNavBar">
    <a class="navbar-brand px-2 mr-auto" id="mainBrand" href="#">
      Runeberg
    </a>
  </nav>  

  <!-- main content -->
  <section fxLayout="column" fxLayoutAlign="end" role="main">

    <!-- index summary chart header -->
    <div fxLayout="row" fxLayoutAlign="center">
      <app-index-chart-strip fxFlex></app-index-chart-strip>
    </div>

    <!-- main area -->
    <div fxFill>
      <app-data-viewer class="m-3" fxFlex="1 0 auto"></app-data-viewer>
    </div>
  </section>

  <!-- footer -->
  <footer class="container-fluid d-flex fixed-bottom bg-dark justify-content-center align-items-center pt-0.5" id="mainFooter">
    <div class="mr-auto" id="footerText" style="color: white;">
      © 2020 Falador Capital Management LLP 
    </div>
    <a>
      <a class="fa fa-github p-2" id="githubIcon" href="https://github.com/chief-gucci-sosa/runeberg"></a>
    </a>
  </footer>
</body>
