<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Runeberg</title>
  </head>
  <body>
    <nav class="navbar fixed-top col-m mr-auto navbar-light bg-dark">
      <a class="navbar-brand" style="color: white">
        <span class="fa fa-line-chart"></span>
        <i class="fas fa-ad"></i>
        Runeberg
      </a>
      <a class="navbar-brand" style="color: white;">
        <span class="fa fa-github"></span>
      </a>
    </nav>
    <div class="container-fluid">
      <div class="row h-100" id="test">
        <div class="col-sm-12">
          <app-index-chart-strip></app-index-chart-strip>
        </div>
      </div>
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link">
                  <span class="fa fa-bar-chart"></span>
                  Data Explorer
                </a>
              </li>
            </ul>
          </div>  
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Market data explorer</h1>
          </div>
          <div>
            <app-data-viewer></app-data-viewer>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>