#mainNavBar {
    height: 60px;
}

#mainBrand {
    color: white;
    font-size: xx-large;
}

#githubIcon {
    color: white;
}

#mainFooter {
    height: 30px;
    font-weight: lighter;
    font-size: small;
}

#footerText {
    color: white;
}

[role=main] {
    padding-top: 165px;  /* must sit below the nav bar and chart strip */
    height: calc(100vh - 30px);  /* exclude header from total height */
}