<div class="container" [formGroup]="datesForm">
    <div class="row">
        <div class="col-auto">
            Start:
        </div>
        <div class="col-2">
            <input type="date" class="form-control" id="datePickerLow"
            formControlName="dateInputLo"
            [min]="dateInputLoMin"
            [max]="dateInputLoMax">
        </div>
        <div class="col-auto">
            End:
        </div>
        <div class="col-2">
            <input type="date" class="form-control" id="datePickerHigh"
            formControlName="dateInputHi"
            [min]="dateInputHiMin"
            [max]="dateInputHiMax">
        </div>
        <div class="col-6">
                <ngx-slider [(value)]="value" [(highValue)]="highValue" 
                [options]="options"
                (userChangeEnd)="setSelectedDates()"></ngx-slider>    
        </div>
    </div>
</div>

