/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

@font-face {
  font-family: "Bloomberg";
  src: local("Bloomberg"), url("./assets/fonts/Avenir 85 Heavy.ttf") format("truetype")
}

* {
  font-family: "Bloomberg";
}