<div class="card border-dark">
    <div class="card-header">
        Chart options
    </div>
    <div class="chart-body">
        <div>
            <form class="form-inline">
                <div class="form-group" [formGroup]="rootForm">
                    <label for="nameId">Asset:</label>
                    <ng-container>
                        <select class="custom-select custom-select-sm"
                        formControlName="assetSelect"
                        (change)="onSettingsChangedEvent()">
                            <option *ngFor="let asset of allAssets"
                            [ngValue]="asset">
                            {{ asset.displayName }}
                            </option>
                        </select>
                    </ng-container>                
                </div>
            </form>
            <form class="form-inline" [formGroup]="rootForm">
                <div class="form-group">
                    <label for="nameId">Show as return:</label>
                    <input type="checkbox"
                    formControlName="showReturns"
                    (change)="onSettingsChangedEvent()">
                </div>
            </form>
        </div>
    </div>
</div>