<div class="card border-dark">
    <div class="card-header">
        Chart options
    </div>
    <div class="chart-body">
        <div class="form-group">
            <form class="form-inline">
                <div class="form-group">
                    <label for="nameId">Asset:</label>
                    <select id="selector">
                    <option>Option 1 Long Name</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
                </div>
                </form>
                <form class="form-inline">
                <div class="form-group">
                    <label for="nameId">Show as return:</label>
                    <input type="checkbox">
                </div>
                </form>
        </div>
    </div>
</div>