<div style="width: 80%">
    <div>
        <app-line-chart #lineChart></app-line-chart>
    </div>
    <ng-container *ngIf="dateRangeChangedAction$ | async as selectedDates">
        <app-date-slider #dateSlider
        [allDates]="selectedDates"
        (datesChanged)="redrawChart()"></app-date-slider>
    </ng-container>
    <ng-container *ngIf="availableAssets$ | async as availableAssets">
        <select class="custom-select custom-select-sm"
        [(ngModel)]='selectedAsset'
        (change)="onSelectedAssetChanged()">
            <option *ngFor="let asset of availableAssets"
            [ngValue]="asset">
            {{ asset.displayName }}
            </option>
        </select>
    </ng-container>
</div>
