<div style="width: 80%">
    <canvas #lineChart>{{chart}}</canvas>
    <div>
        <app-date-slider></app-date-slider>
    </div>
    <ng-container *ngIf="availableAssets$ | async as availableAssets">
        <select class="custom-select custom-select-sm"
        [(ngModel)]='selectedId'
        (change)="onSelectedAssetChanged()">
            <option *ngFor="let asset of availableAssets"
            [ngValue]="asset.id">
            {{ asset.displayName }}
            </option>
        </select>
    </ng-container>
</div>