<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    </head>
    <body ng-app="runeberg.dataviewer">
        <script>
            (function(){
                "use strict";
                angular.module("runeberg.dataviewer", [])
                .controller("DataChartController", DataChartController);


                function DataChartController(){
                    var test = {"a": 1, "b": 2}
                };
            }());
        </script>
    </body>
</html>